<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Nexcom | Home</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<header class="homebanner">

			<h1 class="homebannertext">
				<a id="logo"><span>NEX</span>COM<br>The <span>Next</span> Generation <span>Communication</span> Platform</a>
			</h1>
			

	</header>

	<section>

		<div class="homesection">

			<div class="node">
				
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Get</div>
					<div id="big">Started</div>
				</div>
			</a>

			<div class="tutorial">
			<a> All Rights Reserved </a>
			</div>
		</div>

	</section>

</body>
</html>
