<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Typer | Home</title>
	<meta http-equiv="Refresh" content="0; url=/create">
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/skel.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
			<link rel="stylesheet" href="css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->



</head>

<body class="loading"> 
<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

	<header class="homebanner">

				<h1 class="bannertext"><div align="center">Please <span>wait</span> until you're directed to the landing page...</h1>
</div>
			

	</header>

	<section>

		<div class="homesection">
			</a>

			<div class="tutorial">
			<a> All Rights Reserved </a>
			</div>
		</div>

	</section>

</body>
</html>
