<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Typer | Home</title>
	<meta http-equiv="Refresh" content="0; url=/create">
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body> 

	<header class="homebanner">

				<h1 class="bannertext"><div align="center">Please <span>wait</span> until you're directed to the landing page...</h1>
</div>
			

	</header>

	<section>

		<div class="homesection">
			</a>

			<div class="tutorial">
			<a> All Rights Reserved </a>
			</div>
		</div>

	</section>

</body>
</html>
