<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

/*------------- Reset browser differences ------------- */



* {
	padding: 0;
	margin: 0;
}


/* ------------ Body styles ------------ */


body {
    
    background-color: #e2e6eb;
	color:#9e9e9e;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	font: 16px/1.3 'Roboto',Lato;
}​
}




/* ------------ Header styles ------------ */



/* ------ Home ------ */


.homebanner {
	height: 80px;
	background-color: #1ab4bc;
	
}

.homebannertext {
	text-align:center;
	padding-top: 35px;
	font-family: url('Roboto');
	font-weight: bold;
	color:white;
}
.homebannertext span {
	color: #FF5050;
}

#logo {
	text-decoration: none;
	color:white;
}
#logo:visited {
	color: white;
}



/* ------ Invite ------ */


.banner {
	height: 80px;
	margin-bottom: 200px;
}

.bannertext {
	text-align:center;
	padding-top: 15px;
	font-family: 'Roboto';
	font-weight: bold;
	color:white;
	font-size:40px;
}


.bannerpic {
	padding-top: 5px;
	width: 120px;
	height: 80px;
	
}

.bannertext span {
	color: #d6441b;
}




/* ------------ Section styles ------------ */



/* ------ Home ------ */


.homesection {
	text-align:center;
	margin-top:140px;
	background-color: #1abc9c;
}

.node {
	padding-top: 20px;
	text-align:center;
	margin-bottom:120px;
}
.node #chat {
	font-family: 'Roboto';
	font-weight: normal;
	color: #707368;
}

#nodelogo {
	width: 410px;
	height: 110px;
	margin-bottom: 35px;
}

#create {
	width: 300px;
	height: 100px;
	background-color: #1abc9c; 
	text-align:center;
	display: block;
	margin:0px auto;
	border-radius: 3px;
	text-decoration: none;
	margin-bottom: 70px;
	color: #eeffff;
}
#create:visited {
	color: #eeffff;
	text-decoration: none;
}
#createbutton {
	padding-top: 28px;
}
#little {
	font-weight: normal;
	font-size: 13px;
}
#big {
	font-weight: bold;
	font-size: 23px;
}
.tutorial{
	margin-bottom:90px;
}
#tutorial {
	color: #88bfd4;
}
#tutorial:visited {
	color: #88bfd4;
}



/* ------ Connected ------*/

.connected {
	text-align:center;
	display: block;
	margin:0px auto;
	width: 700px;
	height: 400px;
	background-color: #1abc9c;
	border-radius: 3px;
	color: #f6f7f7;
	
}
.connected h2 {
	padding-top: 20px;
}
.infoConnected {
	text-align: left;
	float: right;
	margin: 65px 165px 0 0;
}
#creatorImage {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#sitelogo {
	float: center;
	width: 230px;
	height: 130px;
	
}

#yourName {
	float:left;
	padding-left:10px;
	width: 150px;
	height: 30px;
	border-radius: 3px;
	box-shadow:0px 3px 3px #1abc9c;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	margin-bottom:20px;
	overflow: hidden;
}

#yourEmail {
	float:left;
	padding-left: 10px;
	width: 200px;
	height: 30px;
	border-radius: 3px;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	margin-bottom:40px;
}

#yourEnter {
	float:left;
	width: 150px;
	height: 50px;
	text-align:center;
	background-color: #16a085;
	border: none;
	box-shadow: 1px 1px 1px #1ab4bc;
	border-radius: 2px;
	color:white;
	font-weight: bold;
	font-size: 15px;
}



/* ------ Person Inside ------*/

.personinside {
	text-align:center;
	display: block;
	margin:0px auto;
	width: 700px;
	height: 400px;
	background-color: #1abc9c;
	border-radius: 3px;
	color: #f6f7f7;
}
.personinside h2 {
	padding-top: 20px;
	width: 210px;
	overflow: hidden;
}

.infoInside {
	text-align: left;
	float: right;
	margin: 65px 165px 0 0;
}

#ownerImage {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#hisName {
	float:left;
	padding-left:10px;
	width: 150px;
	height: 30px;
	border-radius: 3px;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	margin-bottom:20px;
}

#hisEmail {
	float:left;
	padding-left: 10px;
	width: 200px;
	height: 30px;
	border-radius: 3px;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	margin-bottom:40px;
}

#hisEnter {
	float:left;
	width: 150px;
	height: 50px;
	text-align:center;
	background-color: #16a085;
	border: none;
	box-shadow: 1px 1px 1px #1abc9c;
	border-radius: 2px;
	color:white;
	font-weight: bold;
	font-size: 15px;
}


/* ------ Invite ------ */


.invite-textfield {
	text-align:center;
	display: block;
	margin:0px auto;
	width: 750px;
	height: 300px;
	background-color: #1abc9c;
	border-radius: 3px;
	color: #f6f7f7;
}
.invite-textfield h2 {
	padding-top: 80px;
}
.invite-textfield h5 {
	 font-weight: normal;
	 margin: 10px 0 35px;
 }
.invite-textfield .link {
	width: 600px;
	height: 35px;
	text-align:center;
	display: block;
	margin:0px auto;
	padding-top: 15px;
	margin-bottom:120px;
	border-radius: 4px;
	background-color: #f0f1f3;
}
.invite-textfield #link{
	text-decoration: none;
	color: #637277;
}


/* ------ Left ------*/

.left {
	text-align:center;
	display: block;
	margin:0px auto;
	width: 750px;
	height: 300px;
	background-color: #1abc9c;
	border-radius: 3px;
	color: #ffffff;
	margin-bottom: 400px;
}
.left h2 {
	padding-top: 50px;
	padding-bottom: 6px;
}
.left h5 {
	font-weight: normal;
	margin-bottom: 100px;
}

#leftImage {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.nickname-left {
	width: 40px;
	overflow: hidden;
}

/* ------ Too many People ------*/


.toomanypeople {
	text-align:center;
	display: block;
	margin:0px auto;
	width: 750px;
	height: 300px;
	background-color: #1abc9c;
	border-radius: 3px;
	color: #f6f7f7;
}
.toomanypeople h2 {
	padding-top: 100px;
	padding-bottom: 8px;
}
.toomanypeople h5 {
	font-weight: normal;
	margin-bottom: 100px;
}

#room:visited {
	color: #88bfd4;
}



/* ------ No Messages ------ */


.nomessages {
	text-align:center;
	display: block;
	margin:0px auto;
	width: 750px;
	height: 300px;
	background-color: #1abc9c;
	border-radius: 3px;
	color: #f9f9f9;
	margin-bottom: 400px;
}
.nomessages h2 {
	padding-top: 50px;
	overflow: hidden;
	padding-bottom: 6px;
}
.nomessages h5 {
	font-weight: normal;
	margin-bottom: 100px;
}

#noMessagesImage {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#img {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.info {
	text-align: left;
	float: right;
	margin: 65px 60px 0 0;
	width: 405px;
	overflow: hidden;
}
.nickname-chat {
	overflow: hidden;
}


/* ------ Chat Screen ------ */



.image {
	clear:both;
	float:left;
	height: 160px;
	width: 80px;
	text-align:center;
	overflow: hidden;
}

.image img {
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.body {
	text-align:center;
	width: 40%;
	display: block;
	margin:0px auto 650px;
	background-color: #1abc9c;
	color: #f6f7f7;
}

.chats {
	list-style-type: none;
	margin-top:10px;
}

.me {
	clear:both;
	float:left;
	margin-bottom:10px;
}

.you {
	clear:both;
	float:right;
	margin-bottom:10px;
}

.you .image{
	float:right;
}

.chats .me p {
	text-align:left;
	float: left;
	display: inline-block;
	margin-left: 20px;
	margin-bottom:30px;
	padding: 25px 34px;
	min-width: 160px;
	min-height: 10px;
	max-width: 510px;
	background-color: #1abc9c;
	border-radius: 3px;
	color: #f6f7f7;
	line-height: 1.4;
	word-wrap: break-word;
}

.chats .you p {
	text-align:left;
	float: left;
	display: inline-block;
	margin-right:20px;
	margin-bottom:30px;
	padding: 25px 34px;
	min-width: 160px;
	min-height: 10px;
	max-width: 510px;
	background-color: #95a5a6;
	border-radius: 3px;
	color: #f6f7f7;
	line-height: 1.4;
	word-wrap: break-word;
}

.image b {
	overflow: hidden;
	display: block;
	clear: both;
	padding-top: 7px;
}

.image i{
	font-size: 12px;
	line-height: 1.2;
	display: block;
	opacity: 0.8;
	padding-top: 4px;
}


/* ------------ Footer styles ------------ */

footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	padding-top: 30px;
	height: 130px;
}
#chatform {
	width:700px;
	margin: 0 auto;
	background-color: black;
}

#message {
	width: 550px;
	height: 80px;
	display: block;
	float:left;
	margin: 0 auto;
	border: 1px solid #1abc9c;
	border-radius: 2px;
	padding-left: 20px;
	padding-top: 20px;
	resize: inherit;
	font:inherit;
	color:inherit;
}

#submit {
	width: 110px;
	height: 60px;
	float:right;
	text-align:center;
	background-color: #1abc9c;
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 2px;
	color:white;
	font-weight: bold;
	font-size: 17px;
	outline: none;
	cursor:pointer;
}


/* ---------------------- HIDE -------------------------- */


.connected {
	display: none;
}

.personinside {
	display: none;
}

.invite-textfield {
	display:none;
}

.left {
	display:none;
}

.toomanypeople {
	display:none;
}

.nomessages{
	display:none;
}

footer {
	display:none;
}

.chatscreen{
	display:none;
	width:700px;
	margin: 0 auto 200px;
	overflow:hidden;
}