<html>
<head>
<title>Typer.im | Live</title>
<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/skel.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
			<link rel="stylesheet" href="css/style-noscript.css" />
		</noscript>
<script language="JavaScript"> 
<!-- 
function redirect() 
{ 
var keywordsStr = document.getElementById('address').value 
var url =  document.getElementById('address').value
window.location.href = url; 
} 
//--> 
</script> 
</head>
<body>
<header class="banner">
	</header>
<div class="invite-textfield">
			<h2>Join a session<strong></strong></h2>
			<h5><strong>Typer.im</strong> Live allows you to communicate securely and safely in real time with anyone around you <strong>without</strong> signing up.<br> Create a room by giving a name to the session and clicking on the "Launch!" button below, then invite a person to join you by either sharing the url or giving him the name of the room.</h5>
			<input class="textbox" type="text" id="address" placeholder="Enter a room name" /> 
			  <input onClick="redirect();" type="submit" value="Launch!" class="button"/>
			  
<style> 
  .textbox { 
    background-color: rgba(0,0,0,0.5);
text-align: center;
size: 32px;
	width: 150px;
	height: 33px;
	border-radius: 3px;
	color: #ffffff;
	box-shadow:0px 3px 3px #1ab4bc;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	box-shadow:0px 3px 3px #1ab4bc;
	margin-bottom:20px;
	overflow: hidden;
   } 
 </style> 
     </div>
<body>
</body>
<html>